body {
    background-image: url("background.jpg");
	margin: 2em;; 
    	padding: 0;
	color: #480062;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    background-color: #f9e6f3;
    
}
h1 {
	color: #480062;
	text-shadow: 1px 5px 6px #da40b9;
    
}
h2 {
    text-shadow: 1px -5px 4px #da40b9;
    
}
ol {
    text-align: left;
}

header {
    float: left;
}  
article {
    padding-left: 30em ;
    padding-top: 10em;
     text-align: center;
} 
life {
    float: right;
    margin-left: 30em;
    margin-right: 10em;
    text-align: center;
    
}
footer {
    float: left;
}